@import "../abstracts/variables";

header {
  width: $width-full;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
padding:20px;

}

