@import "../abstracts/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  height: 6px;
  /* height of horizontal scrollbar ← You're missing this */
  width: 4px;
  border: 1px solid #141c3a;
  scroll-behavior: smooth;
  transition: 0.3s ease;
}

::-webkit-scrollbar-track {
  scroll-behavior: smooth;
  border-radius: 0;
  transition: 0.3s ease;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  transition: 0.3s ease;
}

html {
  // This defines what 1rem is
  font-size: 88.5%;
  scroll-behavior: smooth;
  transition: 0.3s ease;
    text-rendering: optimizeLegibility;
}




body {
  text-rendering: optimizeLegibility;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;


}

a {
  text-decoration: none;
  transition: 0.5s ease;

}
img{

  object-fit: contain;
}



.MyApp {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  outline: 0 !important;
  transition: all 0.25s;

  &:active,
  &:hover {
    transition: all 0.25s;

  }
}

body,
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
    text-align: center;
    line-height: 25px;
    font-family: 'Oswald', sans-serif;
}

label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}













